.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid lightgray;
  padding: 0.8em 2em;
  background-color: var(--main-color);
  color: var(--main-text-color);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px rgb(90, 90, 90);
}

.container_homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid lightgray;
  padding: 0.8em 2em;
  background-color: var(--main-color);
  color: var(--main-text-color);
  position: sticky;
  top: 0;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  from {
    background-color: var(--main-color);
  }
  to {
    background-color: var(--main-toggle-color);
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
}

.title_homepage {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-text-color);
}

.logo {
  font-size: 1.2em;
}

.text {
  padding-left: 0.3em;
}

.login {
  display: flex;
  align-items: center;
}

.store {
  border: 1px solid var(--main-text-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  cursor: pointer;
}

.store:hover {
  background-color: var(--main-dark-color);
  font-size: 0.81rem;
}

.user {
  font-size: 1rem;
  padding-left: 2em;
  cursor: pointer;
}

.user:hover {
  color: var(--main-light-color);
}

.hamburger {
  display: none;
}

.hamburger:hover {
  color: var(--main-dark-color);
}

.button {
  border: 1px solid var(--main-text-color);
  border-radius: 20px;
  padding: 0.5em 2.3em;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-dark-color);
}

@media screen and (max-width: 780px) {
  .container {
    padding: 0.8em 1em;
  }

  .container_homepage {
    height: 64px;
    padding: 0.8em 1em;
  }

  .button {
    padding: 0.2em 1.8em;
    font-size: 1rem;
    cursor: pointer;
  }

  .store {
    display: none;
  }

  .user {
    padding-left: 0.8em;
  }

  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 0.8em;
    display: block;
  }
}
