.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: var(--main-color);
  color: var(--main-text-color);
  padding: 5em 15em;
  overflow: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.img {
  font-size: 400px;
}

.text1 {
  text-align: start;
  width: 30rem;
  font-size: 4.6rem;
  font-weight: 600;
}

.text2 {
  text-align: start;
  width: 30rem;
  font-size: 2.5em;
  font-weight: 600;
  padding: 0.5em 0.2em;
  color: var(--main-light-color);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .img {
    font-size: 230px;
  }

  .text1 {
    text-align: center;
    color: var(--main-text-color);
    font-size: 2em;
    padding: 0.2em 0;
    width: 23rem;
  }

  .text2 {
    text-align: center;
    color: var(--main-light-color);
    font-size: 1.5em;
    padding: 0.3em 0.5em;
    width: 23rem;
  }
}
