.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  height: 21em;
  width: 49%;
  border-radius: 12px;
  margin-top: 1.2em;
  padding: 1em;
  padding-top: 0;
  background-color: var(--main-text-color);
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_title {
  display: flex;
  justify-content: flex-start;
  width: 17rem;
  font-size: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.3em;
}

.text_date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 12rem;
  margin-top: 0.8em;
  margin-left: 5em;
  margin-right: 0.5em;
  font-size: 0.8rem;
  cursor: pointer;
}

.arrow {
  margin-top: 0.8em;
  color: gray;
  cursor: pointer;
}

.content {
  text-align: center;
  padding-left: 0.6em;
  color: lightgray;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 30rem;
  }
}
