.container {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: rgb(235, 235, 235);
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--green-color);
  width: 30rem;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color);
  border-radius: 16px;
  margin-top: 1.2em;
}

.icon {
  font-size: 7rem;
  color: var(--green-color);
  opacity: 0.3;
}

.text {
  font-size: 1.3em;
  color: var(--main-light-color);
  padding: 0.5em;
}

.button {
  padding: 0.5em;
}

.left,
.right {
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 8px;
  color: var(--main-light-color);
  background-color: var(--main-text-color);
  border-color: lightgray;
  cursor: pointer;
}

.left:hover,
.right:hover {
  color: var(--main-text-color);
  background-color: var(--green-color);
}
