.button {
  display: none;
}

.naver {
  border-radius: 8px;
  padding: 0.7em 1.5em;
  margin: 0.3em 0;
  cursor: pointer;
  text-align: center;
  width: 80%;
  background-color: #04c035;
  color: var(--main-text-color);
}
